/*PC*/

@media (min-width:1024px) {
    .hide-on-pc {
        display: none;
    }
}


/*tablet mobile*/

@media (max-width:1023px) {
    #main {
        overflow: hidden;
    }
    .hide-on-mb {
        display: none;
    }
    .about__img,
    .banner__img {
        display: block;
        margin: 0 auto;
    }
    .banner__img {
        width: 70%;
    }
    /*menu-mobile*/
    .nav-mobile {
        position: relative;
        width: 2.8rem;
        height: 3px;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
    }
    .menu-btn-chart {
        width: 2.8rem;
        height: 3px;
        background: #222;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
    }
    .menu-btn-chart:after,
    .menu-btn-chart::before {
        content: '';
        position: absolute;
        width: 2.8rem;
        height: 3px;
        background: #222;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
    }
    .menu-btn-chart:before {
        transform: translateY(-8px);
    }
    .menu-btn-chart:after {
        transform: translateY(8px);
    }
    .is__show .menu-btn-chart {
        transform: translateX(-55px);
        background: transparent;
    }
    .is__show .menu-btn-chart:before {
        transform: rotate(-45deg) translate(40px, 40px);
    }
    .is__show .menu-btn-chart::after {
        transform: rotate(45deg) translate(40px, -40px);
    }
    .overlaymenu {
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        transition: fadeIn ease 0.3s;
        display: none;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .overlaymenu.open {
        display: block;
    }
    .nav__menu_mobile {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        background: #222;
        width: 260px;
        z-index: 999;
        transform: translateX(-100%);
        transition: all 0.3s linear;
        display: block;
    }
    .nav__menu_mobile-list {
        padding: 18px 0 0;
    }
    .nav__menu_mobile-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
    }
    .nav__menu_mobile-item-link,
    .nav__menu_list-mobile-link {
        font-size: 1.4rem;
        text-transform: uppercase;
        color: #fff;
        padding: 10px 22px 10px 15px;
        display: block;
    }
    .nav__menu_mobile-item i {
        color: #fff;
        font-size: 1.4rem;
        padding: 15px;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }
    .nav__menu_list-mobile {
        position: relative;
        width: 100%;
        top: 0;
        transform: translateY(-100%);
        transition: all 0.4s ease;
        display: none;
    }
    .nav__menu_list-mobile-item {}
    .show_pages .nav__menu-mobile-pages .list-pages {
        display: block;
        transform: translateY(0%);
    }
    .show_pages .nav__menu-mobile-pages i {
        transform: rotate(180deg);
    }
    .is_show_menu {
        transform: translateX(0%);
    }
    .feedback__img {
        max-width: 20%;
        min-width: 20%;
        margin-right: 15px;
        transform: translateY(20%);
    }
}


/*tablet*/

@media (min-width:820px) and(max-width:1023px) {
    .home__banner {
        height: 500px!important;
    }
    .banner__left {
        margin-top: 0px!important;
    }
}

@media (min-width:740px) and (max-width:1023px) {
    .home__banner {
        height: 750px;
    }
    .banner__left {
        margin-top: 80px;
    }
    .blog__item-info {
        flex-direction: column;
        align-items: unset;
    }
    .info__right {
        justify-content: space-between;
        margin-top: 10px;
    }
    .follow {
        text-align: center;
        margin-top: 20px;
        align-items: center;
    }
    .follow__icon {
        justify-content: space-between;
    }
}


/*mobile*/

@media (max-width:739px) {
    .banner__left {
        margin-top: 80px;
    }
    .about__banner-name,
    .home__banner-name {
        font-size: 3.8rem;
    }
    .about__banner-description,
    .home__banner-description {
        text-align: justify;
    }
    .price__item {
        margin: 10px 0;
    }
    .about__me,
    .newsletter,
    .follow {
        text-align: center;
        margin-bottom: 10px;
    }
    .newsletter__input {
        width: 100%;
    }
    .follow__icon {
        justify-content: space-between;
    }
}